<footer class="footer" id="footer">
        <div class="footer-bg-opacity"></div>
        <div class="footer-container">
        <div class="container">
            <!-- row -->
                <div class="row">
                <div class="col-10 col-md-6 mx-auto">
                    <h2 class="footer-title display-5 text-center">
                        صفحات
                    </h2>
                    <div class="hr"></div>
                    <div class="my-3 d-flex justify-content-center">
                        <ul class="footer-ul">
                            <a href="{% url 'index' %}" class="footer-link">خانه</a>
                            <a href="{% url 'about-us' %}" class="footer-link">درباره ی ما</a>
                            <a href="{% url 'form-project' %}" class="footer-link">درخواست پروژه</a>
                            <a href="{% url 'team-member' %}" class="footer-link">اعضای تیم</a>
                        </ul>
                    </div>
                </div>
                <!-- end ... -->
                <!-- ... -->
                <div class="col-10 col-md-6 mx-auto">
                    <h2 class="footer-title display-5 text-center">
                        شبکه های اجتماعی
                    </h2>
                    <div class="hr"></div>
                    <div class="my-3 d-flex justify-content-center">
                        <ul class="footer-ul">
                            <a href="#" class="footer-link">اینستاگرام
                                <span class="footer-link-icon">
                                    <i class="fab fa-instagram"></i>
                                </span>
                            </a>
                            <a href="#" class="footer-link">تلگرام
                                <span class="footer-link-icon">
                                    <i class="fab fa-telegram"></i>
                                </span>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
            <!-- footer bottom -->
            <div class="w-100 footer-bottom d-flex justify-content-center py-5">
                <p class="footer-bottom-text">شماره تلفن: <span>09140000000</span></p>
                <div class="footer-bottom-icons">
                <a href="#" class="footer-bottom-icon">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#" class="footer-bottom-icon">
                    <i class="fab fa-telegram" aria-hidden="true"></i>
                </a>
                </div>
            </div>
            <!-- end footer bottom -->
            </div>
    </footer>
