{% load static %}
{% load render_partial %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ setting.site_name }}</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- end bootstrap -->
    <!-- css -->
    <link href="{% static "css/style.css" %}" rel="stylesheet"/>
    <!-- end css -->
    <!-- librarys -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
    <!-- end Librarys -->
    <style>
        @font-face{
                font-family: ferda;
                {#src: url(../fonts/Fedra\ Arabic\ Display\ AR\ LT\ Black.ttf) format('truetype');#}
                src: url({% static "fonts/Fedra Arabic Display AR LT Black.ttf" %}) format('truetype');

            }
            @font-face{
                font-family: iran-sans;
                {#src: url(../fonts/Iranian\ Sans.ttf) format('truetype');#}
                src: url({% static "fonts/Iranian Sans.ttf" %}) format('truetype');
            }
            @font-face{
                font-family: iran-sans2;
                {#src: url(../fonts/IRANSANSDNFANUM.TTF) format('truetype');#}
                src: url({% static "fonts/IRANSANSDNFANUM.TTF"%}) format('truetype');
            }
            @font-face{
                font-family: iranSans;
                {#src: url(../fonts/IRANSansX-Bold.woff);#}
                src: url({% static "fonts/IRANSansX-Bold.woff" %});
            }
            @font-face{
                font-family: iranSans2;
                {#src: url(../fonts/IRANSansX-Regular.woff);#}
                src: url({% static "fonts/IRANSansX-Regular.woff" %});

            }
    </style>
</head>
<body>
    <!-- loading -->
    <div class="loading">
        <div class="load"></div>
    </div>
    <!-- end loading -->
    <!-- header -->
    <header class="header-index py-4" id="header">
        <!-- bg header -->
        <div class="bg-header"></div>
        <!-- end bg header -->
        <!-- container -->
        <div class="container">
            <!-- navbar -->
        <nav class="navbar navbar-expand-md">
            <a href="" class="navbar-brand">{{ setting.site_name }}</a>
            <button class="navbar-toggler">
                <i class="fas fa-bars"></i>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link active">
                            خانه
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about-us' %}" class="nav-link">
                            درباره ما
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'form-project' %}" class="nav-link">
                            سفارش پروژه
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'team-member' %}" class="nav-link">
                            اعضای تیم
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- end navbar -->
        <!-- navbar mobile -->
        <nav class="navbar navbar-mobile">
            <div class="d-flex">
            <a href="./index.html" class="navbar-brand navbar-brand-mobile">teamSite</a>
            <button class="close navbar-mobile-close">
                <span>&times;</span>
            </button>
            </div>
            <ul class="navbar-nav navbar-nav-mobile mt-auto">
                <li class="nav-item mt-3">
                    <a href="{% url 'index' %}" class="nav-link nav-link-mobile active">خانه</a>
                </li>
                <li class="nav-item mt-3">
                    <a href="{% url 'about-us' %}" class="nav-link nav-link-mobile">درباره ما</a>
                </li>
                <li class="nav-item mt-3">
                    <a href="{% url 'form-project' %}" class="nav-link nav-link-mobile">سفارش پروژه</a>
                </li>
                <li class="nav-item mt-3">
                    <a href="{% url 'team-member' %}" class="nav-link nav-link-mobile">اعضای تیم</a>
                </li>
            </ul>
        </nav>
        <!-- end navbar mobile -->
        <!-- row header -->
        <div class="row row-header">
            <!-- title and text header -->
            <div class="col-10 col-md-6 mx-auto">
                <h1 class="display-4 header-title"></h1>
                <div class="decoration my-3"></div>
                <p class="lead text-header">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. 
                </p>
            </div>
            <!-- end title and text header -->
            <!-- img header -->
            <div class="col-10 col-md-6 mx-auto">
                <img class="img-fluid img-header" src="../../static/image/img-header.webp"/>
            </div>
            <!-- end img header -->
        </div>
        <!-- end row header -->
        <!-- btn header -->
        <div class="d-flex justify-content-center my-5">
            <a href="#" class="btn btn-header">
                سفارش پروژه
            </a>
        </div>
        <!-- end btn header -->
        </div>
        <!-- end container -->
    </header>
    <!-- end header -->
    <!-- section about us -->
    <section class="section-about-us my-4">
        <div class="container">
            <!-- title section -->
            <h2 class="display-5 title-section">درباره ما</h2>
            <!-- end title section -->
            <div class="row mt-5">
                <div class="col-10 col-md-6 mx-auto">
                    <img src="../../static/image/aboutus.gif" class="img-fluid section-about-us-img border-bottom"/>
                </div>
                <div class="col-10 col-md-6 mx-auto">
                    <div class="mt-5">
                    <p class="section-about-us-text w-sm-75">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. 
                    </p>
                    <a href="{% url 'about-us' %}" class="btn btn-sections">ادامه مطلب</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section about us -->
    <!-- section projects -->
<section class="section-projects my-4">
    <div class="container">
        <!-- title section -->
        <h2 class="display-5 title-section">خدمات و مهارت های تیم ما</h2>
        <!-- end title section -->
        <div class="swiper swiper1 mt-5 mx-auto">
            <div class="swiper-wrapper">
                {% for slide in slider %}
                <div class="swiper-slide">
                    <div class="card section-projects-card">
                        <img src="{{ slide.image.url }}" class="card-img-top section-projects-card-img mx-auto img-fluid"/>
                        <div class="card-body text-center">
                            <h3 class="card-title section-projects-card-title">
                                {{ slide.title }}
                            </h3>
                            <p class="card-text">{{ slide.text }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination swiper-pagination1"></div>
        </div>
    </div>
</section>

    <!-- end section projects -->
    <!-- section sampleas -->
    <section class="section-sampleas my-5">
        <div class="container">
            <!-- title section -->
            <h2 class="display-5 title-section">نمونه کارهای تیم ما</h2>
            <!-- end title section -->
        </div>
         <div class="carousel-sampleas swiper mt-5">
            <div class="carousel-sampleas-wrapper swiper-wrapper">
                {% for team_resume in team_resume %}
                <div class="carousel-sampleas-slide swiper-slide d-flex justify-content-center">
                    <img src="{{ team_resume.image.url }}" class="carousel-sampleas-item img-fluid"/>
                    <div class="carousel-sampleas-item-texts">
                        {% if team_resume.title_url %}
                            <a href="{{ team_resume.title_url }}" class="carousel-sampleas-item-texts-title" target="_blank">
                                {{ team_resume.title }}
                            </a>
                        {% else %}
                            <p  class="carousel-sampleas-item-texts-title" >
                                    {{ team_resume.title }}
                            </p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="carousel-sampleas-pagination swiper-pagination"></div>
            <div class="carousel-sampleas-prev swiper-button-prev"></div>
            <div class="carousel-sampleas-next swiper-button-next"></div>
        </div>

    </section>
    <!-- end section samples -->
    <!-- section front -->
    <section class="section-team my-5">
        <div class="container">
            <!-- title section -->
            <h2 class="display-5 title-section">تیم ما</h2>
            <!-- end title section -->
            <div class="row my-5">
                <!-- item -->
                {% for user in member  %}
                    <div class="col-10 col-md-4 mx-auto my-3 my-md-0">
                        <div class="card card-team">
                            <img src="{{ user.avatar.url }}" class="card-img-top card-team-img mx-auto img-fluid"/>
                            <div class="card-body text-center">
                                <h2 class="card-title card-team-title">{{ user.full_name }}</h2>
                                <p class="card-text card-team-text w-75 mx-auto">
                                    {{ user.shot_description }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- end item -->

            </div>
        </div>
    </section>
    <!-- end section front -->
    <!-- section call we -->
    <section class="section-callWe my-5">
        <div class="container">
            <!-- title section -->
            <h2 class="display-5 title-section">ارتباط با ما</h2>
            <!-- end title section -->
            <form class="section-callWe-form my-5" action="#" method="post" dir="rtl">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="section-callWe-btn btn btn-outline-secondary" type="submit">ارسال</button>
            </form>

        </div>
    </section>
    <!-- end section call we -->
    <!--footer -->
    <footer class="footer" id="footer">
        <div class="footer-bg-opacity"></div>
        <div class="footer-container">
        <div class="container">
            <!-- row -->
                <div class="row">
                <div class="col-10 col-md-6 mx-auto">
                    <h2 class="footer-title display-5 text-center">
                        صفحات
                    </h2>
                    <div class="hr"></div>
                    <div class="my-3 d-flex justify-content-center">
                        <ul class="footer-ul">
                            <a href="#" class="footer-link">خانه</a>
                            <a href="#" class="footer-link">درباره ی ما</a>
                            <a href="#" class="footer-link">درخواست پروژه</a>
                            <a href="#" class="footer-link">اعضای تیم</a>
                        </ul>
                    </div>
                </div>
                <!-- end ... -->
                <!-- ... -->
                <div class="col-10 col-md-6 mx-auto">
                    <h2 class="footer-title display-5 text-center">
                        شبکه های اجتماعی
                    </h2>
                    <div class="hr"></div>
                    <div class="my-3 d-flex justify-content-center">
                        <ul class="footer-ul">
                            <a href="#" class="footer-link">اینستاگرام 
                                <span class="footer-link-icon">
                                    <i class="fab fa-instagram"></i>
                                </span>
                            </a>
                            <a href="#" class="footer-link">تلگرام
                                <span class="footer-link-icon">
                                    <i class="fab fa-telegram"></i>
                                </span>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
            <!-- footer bottom -->
            <div class="w-100 footer-bottom d-flex justify-content-center py-5">
                <p class="footer-bottom-text">شماره تلفن: <span>09140000000</span></p>
                <div class="footer-bottom-icons">
                <a href="#" class="footer-bottom-icon">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#" class="footer-bottom-icon">
                    <i class="fab fa-telegram" aria-hidden="true"></i>
                </a>
                </div>
            </div>
            <!-- end footer bottom -->
            </div>
    </footer>
    <!-- end footer -->
    <!-- script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <script src="{% static "bootstrap/bootstrap.bundle.min.js" %}"></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/atropos@2/atropos.min.mjs"></script>
    <script src="{% static "icons/all.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <!-- end script -->
</body>
</html>