{% load render_partial %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>team</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- end bootstrap -->
    <!-- css -->
    <link href="{% static "css/style.css" %}" rel="stylesheet"/>
    <!-- end css -->
</head>
<body>
    <!-- loading -->
    <div class="loading">
        <div class="load"></div>
    </div>
    <!-- end loading -->
    <!-- header -->
    {% include 'members/patial/header_patial.html' %}
        <nav class="navbar navbar-mobile">
            <div class="d-flex">
            <a href="{% url 'index' %}" class="navbar-brand navbar-brand-mobile">teamSite</a>
            <button class="close navbar-mobile-close">
                <span>&times;</span>
            </button>
            </div>
            <ul class="navbar-nav navbar-nav-mobile mt-auto">
                <li class="nav-item mt-3">
                    <a href="index.html" class="nav-link nav-link-mobile">خانه</a>
                </li>
                <li class="nav-item mt-3">
                    <a href="about.html" class="nav-link nav-link-mobile">درباره ما</a>
                </li>
                <li class="nav-item mt-3">
                    <a href="formProject.html" class="nav-link nav-link-mobile">سفارش پروژه</a>
                </li>
                <li class="nav-item mt-3">
                    <a href="./team.html" class="nav-link nav-link-mobile active">اعضای تیم</a>
                </li>
            </ul>
        </nav>
        <!-- end navbar mobile -->
        <div class="my-7 di-rtl">
            <div class="header-texts">
                <h1 class="header-pages-title">اعضای تیم</h1>
                <p class="lead header-pages-text">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                </p>
            </div>
        </div>
        </div>
    </header>
    <!-- end header -->
    <!-- section title -->
    <section class="section-title-pages">
    <div class="container">
    <div class="d-flex justify-content-center my-5">
        <div class="section-title-pages-hr mx-5"></div>
        <h2 class="section-title-pages">تیم ما</h2>
        <div class="section-title-pages-hr mx-5"></div>
    </div>
</div>
</section>
    <!-- end section title -->
    <!-- section front -->
    <section class="section-team-page my-5">
        <div class="container">
            <div class="row">
                <!-- single item -->
                {% for user in member %}
                    <div class="col-10 col-md-6 col-lg-4 mx-auto">
                        <a href="{% url "detail" user.full_name %}" class="text-decoration-none">
                        <div class="card card-team-page py-3">
                            <img src="{{ user.avatar.url }}" class="card-img-top card-team-page-img mx-auto"/>
                            <div class="card-body bg-white">
                                <div class="text-center">
                                    <h3 class="card-team-page-title card-title">{{ user.full_name }}</h3>
                                    <p class="lead card-team-page-text my-3 w-75 mx-auto">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                    </p>
                                    </div>
                            </div>
                        </div>
                    </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include "members/patial/footer_partial.html" %}

    <!-- end section front -->
    <!-- script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <script src="{% static "bootstrap/bootstrap.bundle.min.js" %}"></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/atropos@2/atropos.min.mjs"></script>
    <script src="{% static "icons/all.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <!-- end script -->
</body>
</html>