{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>soroush rashedi portfolio</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- end bootstrap -->
    <!-- css -->
    <link href="{% static "css/style.css" %}" rel="stylesheet"/>
    <!-- end css -->
</head>
<body>
    <!-- loading -->
    <div class="loading">
        <div class="load"></div>
    </div>
    <!-- end loading -->
    <!-- header -->
    <header class="header-index header-pages py-4">
        <div class="bg-header"></div>
        <div class="container">
            <!-- navbar -->
            <nav class="navbar navbar-expand-md">
                <a href="index.html" class="navbar-brand">teamSite</a>
                <button class="navbar-toggler">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link">
                                خانه
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">
                                درباره ما
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="formProject.html" class="nav-link">
                                سفارش پروژه
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="team.html" class="nav-link active">
                                اعضای تیم
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end navbar -->
        <!-- navbar mobile -->
        <nav class="navbar navbar-mobile">
            <div class="d-flex">
            <a href="index.html" class="navbar-brand navbar-brand-mobile">teamSite</a>
            <button class="close navbar-mobile-close">
                <span>&times;</span>
            </button>
            </div>
            <ul class="navbar-nav navbar-nav-mobile mt-auto">
                <li class="nav-item mt-3">
                    <a href="index.html" class="nav-link nav-link-mobile">خانه</a>
                </li>
                <li class="nav-item mt-3">
                    <a href="about.html" class="nav-link nav-link-mobile">درباره ما</a>
                </li>
                <li class="nav-item mt-3">
                    <a href="formProject.html" class="nav-link nav-link-mobile">سفارش پروژه</a>
                </li>
                <li class="nav-item mt-3">
                    <a href="team.html" class="nav-link nav-link-mobile active">اعضای تیم</a>
                </li>
            </ul>
        </nav>
        <!-- end navbar mobile -->
        <div class="my-7 di-rtl">
            <div class="header-texts">
                <h1 class="header-pages-title">{{ member.full_name }}</h1>
                <p class="lead header-pages-text">
                    {{ member.shot_description }}
                </p>
            </div>
        </div>
        </div>
    </header>
    <!-- end header -->
    <!-- section title -->
    <section class="section-title-pages">
    <div class="container">
    <div class="d-flex justify-content-center my-5">
        <div class="section-title-pages-hr mx-5"></div>
        <h2 class="section-title-pages">عضو تیم</h2>
        <div class="section-title-pages-hr mx-5"></div>
    </div>
</div>
</section>
    <!-- end section title -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route di-rtl">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-sm-6 col-md-5">
                        <div class="about-img">
                          <img src="{{ member.avatar.url }}" class="img-fluid rounded b-shadow-a" alt="">
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-7">
                        <div class="about-info">
                          <p><span class="title-s">نام و نام خانوادگی: </span> <span>{{ member.full_name }}</span></p>
                          <p><span class="title-s">پروفایل: </span> <span>{{ member.full_name }}</span></p>
                          <p><span class="title-s">ایمیل: </span> <span>{{ member.email}}</span></p>
                          <p><span class="title-s">شماره تلفن: </span> <span>{{ member.phone_number }}</span></p>
                        </div>
                      </div>
                    </div>
                        <div class="skill-mf">
                            <p class="title-s">مهارت ها</p>
                            {% for skill in member.skills.all %}
                                <span>{{ skill.name }}</span> <span class="pull-right">{{ skill.percent }}%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{ skill.percent }}%;" aria-valuenow="{{ skill.percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                  <div class="col-md-6">
                    <div class="about-me pt-4 pt-md-0">
                      <div class="title-box-2 mb-5">
                        <h2 class="title-left">
                          درباره من
                        </h2>
                      </div>
                      <p class="lead">
                          {{ member.description }}
                      </p>
                        <div class="card mt-3">
                <ul class="list-group list-group-flush">

                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                      <span class="text-secondary"><a style="text-decoration:none" href="{{ member.github }}" class="text-secondary">{{ member.github }}</a></span>                  </li>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                      <h6  class="mb-0"><svg width="24" height="24" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><clipPath id="a"><path d="M0 0h32v32H0z"/></clipPath></defs><g data-name="Group 1662" clip-path="url(#a)"><g data-name="Group 1661"><g data-name="Group 1660"><path data-name="Path 3709" d="M31.642.358a1 1 0 0 0-1.107-.21L.666 13.16a1 1 0 0 0-.039 1.815l8.389 4.071 1.752 6.337c0 .01.013.015.017.025a.489.489 0 0 0 .15.23l.009.005c.005 0 .012.006.018.01a.5.5 0 0 0 .288.1h.018a.5.5 0 0 0 .18-.044c.014-.006.026-.016.04-.023a.526.526 0 0 0 .126-.1c.007-.008.017-.01.024-.019l1.594-1.958 3.792 7.766a1 1 0 0 0 .9.561h.021a1 1 0 0 0 .9-.6L31.857 1.467a1 1 0 0 0-.215-1.109ZM26 4.306 9.645 17.153l-6.194-3.024Zm-1.324 2.312L12.039 19.255a.507.507 0 0 0-.137.254l-.726 3.591-1.335-4.83ZM12.859 19.849l-.007.011Zm-.716 3.513.284-1.4.322.659Zm5.729 5.188-4.5-9.214L28.457 4.251Z" fill="#17a2b8"/></g></g></g></svg> Telgram</h6>
                      <span class="text-secondary"><a style="text-decoration:none" href="{{ member.telegram }}" class="text-secondary">{{ member.telegram }}</a></span>                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                      <h6 class="mb-0"><svg width="24px" height="24px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none"><path fill="#0A66C2" d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z"/></svg> linkedin</h6>
                      <span class="text-secondary"><a style="text-decoration:none" href="{{ member.linkedin }}" class="text-secondary">{{ member.linkedin }}</a></span>                  </li>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                </ul>
              </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End About Section -->چ
    <footer class="footer" id="footer">
        <div class="footer-bg-opacity"></div>
        <div class="footer-container">
        <div class="container">
            <!-- row -->
                <div class="row">
                <div class="col-10 col-md-6 mx-auto">
                    <h2 class="footer-title display-5 text-center">
                        صفحات
                    </h2>
                    <div class="hr"></div>
                    <div class="my-3 d-flex justify-content-center">
                        <ul class="footer-ul">
                            <a href="#" class="footer-link">خانه</a>
                            <a href="#" class="footer-link">درباره ی ما</a>
                            <a href="#" class="footer-link">درخواست پروژه</a>
                            <a href="#" class="footer-link">اعضای تیم</a>
                        </ul>
                    </div>
                </div>
                <!-- end ... -->
                <!-- ... -->
                <div class="col-10 col-md-6 mx-auto">
                    <h2 class="footer-title display-5 text-center">
                        شبکه های اجتماعی
                    </h2>
                    <div class="hr"></div>
                    <div class="my-3 d-flex justify-content-center">
                        <ul class="footer-ul">
                            <a href="#" class="footer-link">اینستاگرام
                                <span class="footer-link-icon">
                                    <i class="fab fa-instagram"></i>
                                </span>
                            </a>
                            <a href="#" class="footer-link">تلگرام
                                <span class="footer-link-icon">
                                    <i class="fab fa-telegram"></i>
                                </span>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
            <!-- footer bottom -->
            <div class="w-100 footer-bottom d-flex justify-content-center py-5">
                <p class="footer-bottom-text">شماره تلفن: <span>09140000000</span></p>
                <div class="footer-bottom-icons">
                <a href="#" class="footer-bottom-icon">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#" class="footer-bottom-icon">
                    <i class="fab fa-telegram" aria-hidden="true"></i>
                </a>
                </div>
            </div>
            <!-- end footer bottom -->
            </div>
    </footer>

    <!-- script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <script src="{% static "bootstrap/bootstrap.bundle.min.js" %}"></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/atropos@2/atropos.min.mjs"></script>
    <script src="{% static "icons/all.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <!-- end script -->
</body>
</html>